apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: %%COMPONENT_NAME%%
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  config.hcl: |-
    disable_mlock = true
    listener "tcp" {
      address = "[::]:8200"
      cluster_address = "[::]:8201"
      {{- if .Values.metrics.enabled }}
      telemetry = {
        unauthenticated_metrics_access = true
      }
      {{- end }}
      {{- if .Values.tls.enabled }}
      tls_cert_file = "/certs/tls.crt"
      tls_key_file  = "/certs/tls.key"
      tls_min_version = "tls13"
      {{- else }}
      tls_disable = true
      {{- end }}
    }
    storage "file" {
      path = "/var/lib/%%COMPONENT_NAME%%"
    }
    telemetry "prometheus" {
      prometheus_retention_time = "30s"
      disable_hostname = true
    }
    ui = true